body {
    background-color: #fafafa;
}

.gradiente {
    background: linear-gradient(90deg, rgba(251, 19, 19, 1) 0%, rgba(93, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: x-large;
}

.titulo {

    font-weight: 600;
}

.drop {

    display: flex;
    justify-content: flex-end;
    padding: 1%;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 2%;
}

h6 {
    font-weight: 400;
    margin: 1%;
}

.center {
    display: flex;
    justify-content: center;
}

.container img {

    border-radius: 100%;
    width: 40%;
    border: 2px solid;
    width: 128px;
    height: 128px;
    object-fit: cover

}

.card {

    padding: 5%;
    display: flex;
    align-items: center;
}

.formulario {

    display: flex;
    margin: 1%;
    justify-content: end;
    align-items: center;
}

.cadastro {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 2%;
    background-color: white;
}

.mb-3 {

    margin-bottom: 0% !important;
    margin-top: 2%;
}

.cadastros {
    padding: 5%;
    padding-top: 0% !important;
}

legend {
    padding: 5%;
    margin: 0%;
}

.cadastro img {

    width: 150px;
    border-radius: 100%;
    height: 150px;
    border: 2px solid;
    object-fit: cover;
}

form {

    padding: 2%;
}