
body {
    background: #f2f4f8;
}

main{
    margin: 2em;
}

.sala {
    display: flex;
    padding: 2em;
    align-items: center;
    justify-content: end;
}

.sala select {
    border-radius: 5px;
    padding: 0.3em;
    cursor: pointer;
    margin: .5em;
}


.sala option {
    text-align: center;
}


h2 {
    text-align: center;
}

.card {
    align-items: center;
    text-align: center;
}

.card img {
    margin-top: 1em;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.vagas {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

